@import 'tailwindcss';
@import '@immich/ui/theme/default.css';

@theme inline {
  --color-immich-primary: rgb(var(--immich-primary));
  --color-immich-bg: rgb(var(--immich-bg));
  --color-immich-fg: rgb(var(--immich-fg));
  --color-immich-gray: rgb(var(--immich-gray));

  --color-immich-dark-primary: rgb(var(--immich-dark-primary));
  --color-immich-dark-bg: rgb(var(--immich-dark-bg));
  --color-immich-dark-fg: rgb(var(--immich-dark-fg));
  --color-immich-dark-gray: rgb(var(--immich-dark-gray));
}

@layer base {
  :root {
    /* light */
    --immich-primary: 66 80 175;
    --immich-bg: 255 255 255;
    --immich-fg: 0 0 0;
    --immich-gray: 243 244 246;

    /* dark */
    --immich-dark-primary: 172 203 250;
    --immich-dark-bg: 10 10 10;
    --immich-dark-fg: 229 231 235;
    --immich-dark-gray: 33 33 33;
  }

  html {
    @apply bg-immich-bg text-immich-fg;
  }

  .dark html,
  html.dark {
    @apply bg-immich-dark-bg text-immich-dark-fg;
  }

  body {
    @apply min-h-screen;
  }
}
